@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
.contentbox{
  padding-top: 80px;
  padding-bottom: 0px;
}
.heading{
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #000000;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Dosis', sans-serif;
}
.sub-heading{
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #000000;
  font-size: 20px;
  padding-bottom: 50px;
  font-family:  'Dosis', sans-serif;
  font-weight: 300;
  text-align: center;
}
.text-block{
  color: #000000;
  font-size: 20px;
  text-align: justify;
  font-family:  'Dosis', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;

}
.Table
{
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
}
.table-heading{
color: #000000;
  font-size: 24px;
  font-family:  'Dosis', sans-serif;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  text-align: center;
}
.imagebox,.tapeoutimagebox{
    display:block;
    margin-left: 10%;
    margin-right: auto;
    width:50%;
}
.tapeoutimagebox{
  margin-left: 30%;
}
.bigbox1,.tapeoutbigbox {
    width: 80%;
    padding: 1px;
    opacity: 0.8;
    display: flex;
    font-family:  'Dosis', sans-serif;
    margin-left: 20%;
    margin-right: auto;
  }

  .tapeoutbigbox {
     margin-left:10%;
  }
.box1{
  width:33.33333%;
  height: auto;
  
  float: left;
  margin: 0px 10px;
  transition: 0.5s;
  font-family:  'Dosis', sans-serif;
  color:black;
}
.box1:hover{
  transform: scale(1);
  background: whitesmoke;
  box-shadow: 2px 2px 2px #000;
  z-index: 2;
  }

.box1 h3{
  text-decoration: underline;
  text-align: center;
  color: #691818;
  letter-spacing:3px;
  line-height: 30px;
  font-family: inherit;
}
.box1 p{
    text-align: center;
    color: #000000;
    
    font-size:15px;
    font-weight:300;
    
  	font-family: inherit;
}
.box1 li{
  font-size:15px;
    font-weight:300;
    font-family: inherit;
    color: black;
}

.h4{
  text-align: center;
  font-family:  'Dosis', sans-serif;
}
h3{
  text-align: center;
  font-family:  'Dosis', sans-serif;
}

li,ul{
  font-family:  'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
p{
  font-weight: 400;
  text-align: center;
  color:black;
  font-family:  'Dosis', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}
.colwidth10-home{
	background-image: url("/assets/B1_50_col.png");
 }
 .colwidth10-cclass, .colwidth10-eclass {
  background-image: url("/assets/brd2g.jpg");
 }

.colwidth10-cclass, .colwidth10-eclass, .colwidth10-home{
	width:10%;
	/*background-image: url("/assets/new_20op_3blur.jpg");*/
  background-position: top;
  background-size: 100%;
  height: 100%;
  
}
.colwidth80{
	width:80%;
}

.pmot{
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  color: #000;
  font-family: 'Dosis', sans-serif;
}

.pmot a{
  color: blue;
}

a:visited {
  color: green;
}
