#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#26262c;
  display:none;
}
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:850px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 5px;

}
#boxes #dialog {
  width:450px;
  height:auto;
  padding: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 15pt;
}

.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
	background-color:#D1D1D1;
	color: green;
}
.popupoption2:hover{
	color: red;
}

@media (max-width: 460px) {
  #boxes .window {
		width: 80%;
	}
  #boxes #dialog {
    width:80%;
  }
}
